body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.cabecalho img{
    left: 639px;
    top: 27px;
    width: 144px;
    height: 162px;
    padding-left: 50px;
}
.menuLateral{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.lista-nav{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}
.tela-body{
    transition: margin-left .5s;
    padding: 16px;
}
.tela-body.empurrar{
    margin: 250px;
}